body {
    color: #4e5052;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container-chat {
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.chat {
    display: flex;
    flex-direction: row;
}

.chat_messages {
    height: 50vh;
    min-height: 120px;
    width: 66%;
    border: 1px solid #d2cfcf;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow-y: auto;
    flex-grow: 2;
}

.chat_members {
    min-height: 120px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.chat_members span {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px;
    background: #ffffff;
    position: relative;
    margin-bottom: 2px;
}

.small-btn {
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.small-btn:active,
.small-btn:focus {
    outline: none;
}

.invite {
    padding-left: 3px;
    padding-right: 3px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.accept,
.decline {
    content: "";
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

.accept {
    background-color: #28a745;
    border-color: #28a745;
}

.decline {
    background-color: #df1732;
    border-color: #df1732;
}

.member-name {
    display: inline-block;
    margin-left: 3px;
}

.chat_members span:after {
    content: '';
    position: absolute;
    right: 0; top: 0;
    width: 40px;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(255,255,255, 0.0), #ffffff 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255, 0.0), #ffffff 100%);
    background: -o-linear-gradient(left, rgba(255,255,255, 0.0), #ffffff 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255, 0.0), #ffffff 100%);
    background: linear-gradient(to right, rgba(255,255,255, 0.0), #ffffff 100%);
}

.message {
    word-wrap: break-word;
    user-select: none;
}

.robot {
    color: #ababab;
}

.message_username {
    font-weight: 700;
}

.message_username:after {
    content: ':';
    margin-right: 3px;
}

.messenger {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.messenger input {
    margin-bottom: 5px;
}

.game-field {
    margin: auto;
}

.game-field__cell {
    content: "";
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid gray;
}

.game-status {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
