body {
    color: #4e5052;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    margin: auto;
    max-width: 414px;
    min-width: 260px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.chat {
    max-height: 50vh;
    border: 1px solid #d2cfcf;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow-y: scroll;
}

.message {
    min-height: 24px;
    word-wrap: break-word;
    user-select: none;
}

.robot {
    color: #ababab;
}

.message_username {
    font-weight: 700;
}

.message_username:after {
    content: ':';
    margin-right: 3px;
}

.messenger {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.messenger input {
    margin-bottom: 5px;
}